@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Columns Style Sheet
   Author: Bryan Varagas
   Date:   12/12/18

   Filename:   lht_columns.css

*/

/* The col selector was used to give specifications to the columns which included a width of260 pixel units, creating a 20 pixel wide gap between columns, a solid border of one pixel unit, a minimum of 2 widows and orphans. */

/* Column Styles */
article col {
   width: 260px;
   column-gap: 20px;
   border: 1px solid rgb(154, 64, 31);
   widows: 2;
   orphans: 2;
}